<div class="w-full">
    <!-- Google Map -->
    <div class="w-full h-[500px] rounded-xl overflow-hidden shadow-md relative">
        <google-map 
            height="100%" 
            width="100%" 
            [center]="center()" 
            [zoom]="zoom()" 
            [options]="options"
            (mapClick)="onMapClick($event)">
            <map-marker 
                *ngIf="markerPosition()" 
                [position]="markerPosition()!" 
                [options]="{ draggable: true }"
                (mapDragend)="onMarkerDragEnd($event)">
            </map-marker>
        </google-map>
    </div>
</div>