<div class=" bg-[#f6f4f4] px-4">
    <div class="px-4 ">
        <div class="mb-4 px-2">
            <p class="text-2xl font-bold py-8 ">الاحصايات</p>
        </div>
        <div class="grid grid-cols-1  md:grid-cols-2 lg:grid-cols-5 gap-6 w-full mx-auto">
            <div class="bg-white rounded-xl   min-w-[224px] px-4 py-3  transition-shadow">
                <div class="flex items-start justify-between mb-4">
                    <div class="text-right">
                        <p class="text-[#636566]  font-extrabold text-[13px] mb-2">عدد العملاء</p>
                        <h3 class="text-2xl font-extrabold text-gray-900">{{dashboardCounters()?.totalCompanies}}</h3>
                    </div>
                    <div class="bg-[#f2e9dc] rounded-full h-14 w-14 flex items-center justify-center">
                        <i class='bx bx-user text-xl text-[#b10000]'></i>
                    </div>
                </div>
                <div class="flex items-center justify-between gap-2 py-1 px-2 ">
                    <div class="flex items-center  gap-2">
                        <i class='bx bx-x-circle text-[#b10000]'></i>
                        <span
                            class="text-[13.2px] font-medium text-[#b10000]">{{dashboardCounters()?.suspendedCompanies}}
                            موقوف</span>
                    </div>
                    <div class="flex items-center gap-2">
                        <i class='bx bx-check-circle text-[#b10000]'></i>
                        <span class="text-[13px]  font-medium text-[#b10000]">{{dashboardCounters()?.activeCompanies}}
                            فعال</span>
                    </div>
                </div>
            </div>
            <div class="bg-white rounded-xl  w-[224px] px-4 py-3.5   ">
                <div class="flex items-start justify-between mb-4">
                    <div class="text-right">
                        <p class="text-[#636566] font-extrabold text-[13px] mb-2">إجمالي السيارات</p>
                        <h3 class="text-2xl font-extrabold text-gray-900">{{dashboardCounters()?.totalCars}}</h3>
                    </div>
                    <div class="bg-[#f2e9dc] rounded-full h-14 w-14 flex items-center justify-center">
                        <i class='bx bx-car text-xl text-[#b10000]'></i>
                    </div>
                </div>
                <div class="flex items-center justify-between gap-2 py-1 px-2">
                    <div class="flex items-center gap-2">
                        <i class='bx bx-check-circle text-[#b10000]'></i>
                        <span class="text-[13.2px] font-medium text-[#5ac1f2]">{{dashboardCounters()?.activeCars}}
                            نشطة</span>
                    </div>
                    <div class="flex items-center gap-2">
                        <i class='bx bx-x-circle text-[#b10000]'></i>
                        <span class="text-[13.2px] font-medium text-[#f576ab]">{{dashboardCounters()?.inactiveCars}}
                            موقوفة</span>
                    </div>
                </div>
            </div>
            <div class="bg-white rounded-xl w-[224px] px-4 py-3.5   ">
                <div class="flex items-start justify-between mb-4">
                    <div class="text-right">
                        <p class="text-[#636566] font-extrabold text-[13px] mb-2">إجمالي المدفوعات</p>
                        <h3 class="text-2xl font-extrabold text-gray-900">{{dashboardCounters()?.totalPayments}}</h3>
                    </div>
                    <div class="bg-[#f2e9dc] rounded-full h-14 w-14 flex items-center justify-center">
                        <i class='bx bx-credit-card text-xl text-[#b10000]'></i>
                    </div>
                </div>
                <div class="flex items-center justify-between gap-2 py-1 px-2">
                    <div class="flex items-center gap-2">
                        <i class='bx bx-check-circle text-[#b10000]'></i>
                        <span class="text-[13.2px] font-medium text-[#b10000]">{{dashboardCounters()?.paidPayments}}
                            مدفوعة</span>
                    </div>
                    <div class="flex items-center gap-2">
                        <i class='bx bx-hourglass text-[#b10000]'></i>
                        <span class="text-[13.2px] font-medium text-[#c29a5b]">{{dashboardCounters()?.pendingPayments}}
                            معلقة</span>
                    </div>
                </div>
            </div>
            <div class="bg-white rounded-xl   w-[224px] px-4 py-3.5   ">
                <div class="flex items-start justify-between mb-4">
                    <div class="text-right">
                        <p class="text-[#636566] font-extrabold text-[13px] mb-2"> عدد الموردين</p>
                        <h3 class="text-2xl font-extrabold text-gray-900">{{dashboardCounters()?.totalVendors}}</h3>
                    </div>
                    <div class="bg-[#f2e9dc] rounded-full h-14 w-14 flex items-center justify-center">
                        <i class='bx bx-buildings text-xl text-[#b10000]'></i>
                    </div>
                </div>
                <div class="flex items-center justify-between gap-2 py-1 px-2">
                    <div class="flex items-center gap-2">
                        <i class='bx bx-check-circle text-[#b10000]'></i>
                        <span class="text-[13.2px] font-medium text-[#b10000]">{{dashboardCounters()?.suspendedVendors}}
                            موقوف</span>
                    </div>
                    <div class="flex items-center gap-2">
                        <i class='bx bx-x-circle text-[#b10000]'></i>
                        <span class="text-[13.2px] font-medium text-[#c29a5b]">{{dashboardCounters()?.activeVendors}}
                            فعال</span>
                    </div>
                </div>
            </div>
            <div class="bg-white rounded-xl   w-[224px] px-4 py-3.5  ">
                <div class="flex items-start justify-between mb-4">
                    <div class="text-right">
                        <p class="text-[#636566] font-extrabold text-[13px] mb-2"> عدد المحطات</p>
                        <h3 class="text-2xl font-extrabold text-gray-900">{{dashboardCounters()?.totalStations}}</h3>
                    </div>
                    <div class="bg-[#f2e9dc] rounded-full h-14 w-14 flex items-center justify-center">
                        <i class='bx bx-gas-pump text-xl text-[#b10000]'></i>
                    </div>
                </div>
            </div>
        </div>
        <div dir="rtl" class="chart-card pt-6 px-4  bg-white box-shadow mt-8 w-full">
            <div class="chart-header">
                <h2>إجمالي الطلبات الشهرية للوقود</h2>
                <p>عرض بياني لمبالغ الوقود المطلوبة خلال العام الحالي</p>
            </div>
            <div class="chart-container">
                <canvas #fuelChart></canvas>
            </div>
        </div>
      
    </div>
</div>