<div class="px-4">
    <div class="mb-4 px-2">
        <p class="text-2xl font-bold py-8">إضافة سيارة جديدة</p>
    </div>
    <form [formGroup]="carForm" (ngSubmit)="onSubmit()" class="px-3 text-[#1f2635] flex flex-col gap-5">
        <div class="grid grid-cols-1 md:grid-cols-3 gap-4">
            <div class="flex flex-col gap-2">
                <label for="companyId" class="font-bold text-sm">الشركة*</label>
                <div class="relative">
                    <select id="companyId" formControlName="companyId" [class]="'px-4 pl-10 placeholder:text-gray-400 text-sm w-full outline-none box-shadow py-3.5 rounded-xl border appearance-none ' + 
                       (companyId?.invalid && companyId?.touched ? 'border-red-500' : 'border-[#ebecf5]')">
                        <option value="">اختر الشركة</option>
                        <option *ngFor="let company of CompanyDropdown" [value]="company.id">
                            {{ company.name }}
                        </option>
                    </select>
                    <i class='bx bx-buildings absolute left-3 top-1/2 -translate-y-1/2 text-xl text-[#667085]'></i>
                </div>
                <app-form-error [form]="carForm" controlName="companyId"></app-form-error>
            </div>

            <!-- Plate Number -->
            <div class="flex flex-col gap-2">
                <label for="plateNumber" class="font-bold text-sm">رقم اللوحة*</label>
                <div class="relative">
                    <input type="text" id="plateNumber" formControlName="plateNumber" placeholder="رقم اللوحة" [class]="'px-4 pl-10 placeholder:text-gray-400 text-sm w-full outline-none box-shadow py-3.5 rounded-xl border ' + 
                       (plateNumber?.invalid && plateNumber?.touched ? 'border-red-500' : 'border-[#ebecf5]')" />
                    <i class='bx bx-car absolute left-3 top-1/2 -translate-y-1/2 text-xl text-[#667085]'></i>
                </div>
                <app-form-error [form]="carForm" controlName="plateNumber"></app-form-error>
            </div>

            <!-- Car Type -->
            <div class="flex flex-col gap-2">
                <label for="carType" class="font-bold text-sm">نوع السيارة*</label>
                <div class="relative">
                    <input type="text" id="carType" formControlName="carType" placeholder="نوع السيارة" [class]="'px-4 pl-10 placeholder:text-gray-400 text-sm w-full outline-none box-shadow py-3.5 rounded-xl border ' + 
                     (carType?.invalid && carType?.touched ? 'border-red-500' : 'border-[#ebecf5]')" />
                    <i class='bx bx-car absolute left-3 top-1/2 -translate-y-1/2 text-xl text-[#667085]'></i>
                </div>
                <app-form-error [form]="carForm" controlName="carType"></app-form-error>
            </div>
        </div>

        <div class="grid grid-cols-1 md:grid-cols-4 gap-4">
            <div class="flex flex-col gap-2">
                <label for="fuelType" class="font-bold text-sm">نوع الوقود*</label>
                <div class="relative">
                    <input type="text" id="fuelType" formControlName="fuelType" placeholder="نوع الوقود" [class]="'px-4 pl-10 placeholder:text-gray-400 text-sm w-full outline-none box-shadow py-3.5 rounded-xl border ' + 
                    (fuelType?.invalid && fuelType?.touched ? 'border-red-500' : 'border-[#ebecf5]')" />
                    <i class='bx bx-gas-pump absolute left-3 top-1/2 -translate-y-1/2 text-xl text-[#667085]'></i>
                </div>
                <app-form-error [form]="carForm" controlName="fuelType"></app-form-error>
            </div>

            <!-- Control Type -->
            <div class="flex flex-col gap-2">
                <label for="controlType" class="font-bold text-sm">نوع التحكم*</label>
                <div class="relative">
                    <select id="controlType" formControlName="controlType" [class]="'px-4 pl-10 placeholder:text-gray-400 text-sm w-full outline-none box-shadow py-3.5 rounded-xl border appearance-none ' + 
                       (controlType?.invalid && controlType?.touched ? 'border-red-500' : 'border-[#ebecf5]')">
                        <option *ngFor="let option of controlTypeOptions" [value]="option.value">
                            {{ option.label }}
                        </option>
                    </select>
                    <i class='bx bx-calendar absolute left-3 top-1/2 -translate-y-1/2 text-xl text-[#667085]'></i>
                </div>
                <app-form-error [form]="carForm" controlName="controlType"></app-form-error>
            </div>

            <!-- Start Day (Conditional) -->
            <div class="flex flex-col gap-2"
                *ngIf="controlType?.value === 'Monthly' || controlType?.value === 'Weekly'">
                <label for="startDay" class="font-bold text-sm">{{ controlType?.value === 'Monthly' ? 'الشهر' : 'اليوم'
                    }}*</label>
                <div class="relative">
                    <select id="startDay" formControlName="startDay" [class]="'px-4 pl-10 placeholder:text-gray-400 text-sm w-full outline-none box-shadow py-3.5 rounded-xl border appearance-none ' + 
                       (startDay?.invalid && startDay?.touched ? 'border-red-500' : 'border-[#ebecf5]')">
                        <option *ngIf="controlType?.value === 'Monthly'" [ngValue]="null" disabled>اختر الشهر</option>
                        <option
                            *ngFor="let option of (controlType?.value === 'Monthly' ? monthOptions : weekDayOptions)"
                            [ngValue]="option.value">
                            {{ option.label }}
                        </option>
                    </select>
                    <i class='bx bx-calendar-alt absolute left-3 top-1/2 -translate-y-1/2 text-xl text-[#667085]'></i>
                </div>
                <app-form-error [form]="carForm" controlName="startDay"></app-form-error>
            </div>
            <!-- Row 3: Limit Quantity -->
            <div class="col-span-1">
                <div class="flex flex-col gap-2">
                    <label for="limitQty" class="font-bold text-sm">الحد الكمي*</label>
                    <div class="relative">
                        <input type="number" id="limitQty" formControlName="limitQty" placeholder="الحد الكمي" [class]="'px-4 pl-10 placeholder:text-gray-400 text-sm w-full outline-none box-shadow py-3.5 rounded-xl border ' + 
                       (limitQty?.invalid && limitQty?.touched ? 'border-red-500' : 'border-[#ebecf5]')" />
                        <i class='bx bx-package absolute left-3 top-1/2 -translate-y-1/2 text-xl text-[#667085]'></i>
                    </div>
                    <app-form-error [form]="carForm" controlName="limitQty"></app-form-error>
                </div>
            </div>
        </div>

        <div class="grid sm:grid-cols-12 gap-2 sm:gap-6 border-t border-gray-200 py-4">
            <div class="sm:col-span-9">
                <div class="flex items-center gap-5">
                    <div class="flex flex-col gap-1">
                        <div class="sm:col-span-3">
                            <label
                                class="inline-block text-sm font-bold text-gray-800 mt-2.5 mb-4 dark:text-neutral-200">
                                صورة السائق
                            </label>
                        </div>
                        <img class="inline-block size-16 rounded-full ring-2 ring-white dark:ring-neutral-900"
                            [src]="driverImagePreview || 'https://preline.co/assets/img/160x160/img1.jpg'"
                            alt="Driver Image">
                    </div>
                    <div class="flex gap-x-2 mt-10">
                        <div>
                            <input type="file" id="upload-driver-image" (change)="onDriverImageSelect($event)"
                                accept="image/jpeg,image/jpg,image/png,image/gif" class="hidden">
                            <label for="upload-driver-image"
                                class="py-2.5 px-3 inline-flex items-center gap-x-2 text-sm rounded-lg border border-[#1f9355] bg-white text-[#00853e] font-bold cursor-pointer hover:bg-green-50 transition-colors">
                                <svg class="shrink-0 size-4" xmlns="http://www.w3.org/2000/svg" width="24" height="24"
                                    viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2"
                                    stroke-linecap="round" stroke-linejoin="round">
                                    <path d="M21 15v4a2 2 0 0 1-2 2H5a2 2 0 0 1-2-2v-4" />
                                    <polyline points="17 8 12 3 7 8" />
                                    <line x1="12" x2="12" y1="3" y2="15" />
                                </svg>
                                رفع صوره جديده
                            </label>
                        </div>
                        <div>
                            <button type="button" (click)="removeDriverImage()" *ngIf="driverImageFile"
                                class="py-2.5 px-3 inline-flex items-center text-sm rounded-lg bg-white text-[#e53d33] font-bold hover:bg-red-50 transition-colors">
                                حذف الصوره
                            </button>
                        </div>
                    </div>
                </div>
                <p *ngIf="driverImageError" class="text-red-500 text-sm mt-2">{{ driverImageError }}</p>
            </div>
        </div>

        <!-- Row 4: Driver Details -->
        <div class="grid grid-cols-1 md:grid-cols-3 gap-4 border-t border-gray-200 py-4">
            <!-- Driver Name -->
            <div class="flex flex-col gap-2">
                <label for="driverName" class="font-bold text-sm">اسم السائق*</label>
                <div class="relative">
                    <input type="text" id="driverName" formControlName="driverName" placeholder="اسم السائق" [class]="'px-4 pl-10 placeholder:text-gray-400 text-sm w-full outline-none box-shadow py-3.5 rounded-xl border ' + 
                       (driverName?.invalid && driverName?.touched ? 'border-red-500' : 'border-[#ebecf5]')" />
                    <i class='bx bx-user absolute left-3 top-1/2 -translate-y-1/2 text-xl text-[#667085]'></i>
                </div>
                <app-form-error [form]="carForm" controlName="driverName"></app-form-error>
            </div>

            <!-- Driver Mobile -->
            <div class="flex flex-col gap-2">
                <label for="driverMobile" class="font-bold text-sm">رقم موبايل السائق*</label>
                <div class="relative">
                    <input type="text" id="driverMobile" formControlName="driverMobile" placeholder="رقم الموبايل"
                        [class]="'px-4 pl-10 placeholder:text-gray-400 text-sm w-full outline-none box-shadow py-3.5 rounded-xl border ' + 
                       (driverMobile?.invalid && driverMobile?.touched ? 'border-red-500' : 'border-[#ebecf5]')" />
                    <i class='bx bx-phone absolute left-3 top-1/2 -translate-y-1/2 text-xl text-[#667085]'></i>
                </div>
                <app-form-error [form]="carForm" controlName="driverMobile"></app-form-error>
            </div>

            <!-- Driver Password -->
            <div class="flex flex-col gap-2">
                <label for="driverPassword" class="font-bold text-sm">كلمة مرور السائق*</label>
                <div class="relative">
                    <input type="password" id="driverPassword" formControlName="driverPassword"
                        placeholder="كلمة المرور" [class]="'px-4 pl-10 placeholder:text-gray-400 text-sm w-full outline-none box-shadow py-3.5 rounded-xl border ' + 
                       (driverPassword?.invalid && driverPassword?.touched ? 'border-red-500' : 'border-[#ebecf5]')" />
                    <i class='bx bx-lock-alt absolute left-3 top-1/2 -translate-y-1/2 text-xl text-[#667085]'></i>
                </div>
                <app-form-error [form]="carForm" controlName="driverPassword"></app-form-error>
            </div>
        </div>

        <!-- Action Buttons -->
        <div class="flex items-center justify-end gap-4 pt-6 pb-6">
            <button type="submit"
                class="bg-[#00853e] text-white cursor-pointer px-6 py-3.5 rounded-md flex items-center gap-2 transition-colors font-medium text-sm">
                <i class='bx bx-plus text-xl'></i>
                <span> إضافة السيارة
                </span>
            </button>
            <button type="button" (click)="onCancel()"
                class="bg-[#ffffff] text-[#667085] cursor-pointer px-4 py-3.5 rounded-md flex items-center gap-0.5 border border-fuchsia-100 transition-colors font-medium text-sm">
                <i class='bx bx-x text-xl'></i>
                <span> إغلاق
                </span>
            </button>
        </div>
    </form>
</div>